.list-group-item {
  margin: 0px 10px 0px 10px;
}

.todo-div {
  width: 80%;
  text-align: start;
}

.delete-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-top: 4px;
}

.delete-icon:hover {
  cursor: pointer;
}
